<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'default.html' %}
{% load custom_filters %}

<!-- Название у нас будет Product -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1>Всего новостей: {{ news|length }}</h1>
    <hr>
    {% if news %}
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Текст</td>
        </tr>

        {% for new in news %}
        <tr>
            <td>{{ new.post_name|censor }}</td>
            <td>{{ new.time_in|date:'d M Y' }}</td>
            <td>{{ new.text|censor|truncatechars:20 }}</td>
        </tr>
        {% endfor %}
    {% endif %}
    </table>
{% endblock content %}
