{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}
News Search
{% endblock title %}

{% block content %}
<h1>Всего новостей на странице: {{ news|length }}</h1>
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>
    <hr>
    {% if news %}
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Текст</td>
        </tr>

        {% for new in news %}
        <tr>
            <td>{{ new.post_name|censor }}</td>
            <td>{{ new.time_in|date:'d M Y' }}</td>
            <td>{{ new.text|censor|truncatechars:20 }}</td>
        </tr>
        {% endfor %}
    {% endif %}
    </table>
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">
                {{ page_obj.previous_page_number }}
            </a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">
            {{ page_obj.next_page_number }}
        </a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">
                {{ page_obj.paginator.num_pages }}
            </a>
        {% endif %}
    {% endif %}

{% endblock content %}
